footer{
    justify-content: center;
    width: 100%;
    padding: 1.8rem 2.8rem;
    background-color: white;
    color: #797676;
}

@media screen and (max-width: 768px) {
    footer{
        text-align: center;
        font-size: .5rem;
        padding: 1rem 0;
    }
}